<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In and SignUp form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            
            <form action="#" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>

                <input type="submit" value="Login" class="btn solid">

                <p class="social-text">Or Sign In With Social Platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>

            <form action="#;" method="POST" class="sign-up-form">
                <h2 class="title">Sign up</h2>
                <% if(messages.error) { %>
                <span class="text-red-500 text-sm"><%= messages.error %></span>
                <% } %>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input name ="name" type="text" placeholder="Username">
                </div>

                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input name ="email" type="email" placeholder="Email">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input name ="password" type="password" placeholder="Password">
                </div>

                <input type="submit" value="Sign up" class="btn solid">

                <p class="social-text">Or Sign up With Social Platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </form>

            
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
           <div class="content">
              <h3>New here ?</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni nisi autem assumenda?</p>
              <button type="submit" class="btn transparent" id="sign-up-btn">Sign up</button>
           </div>

           <img src="/img/log.svg" alt="" class="image">
        </div>

        <div class="panel right-panel">
           <div class="content">
              <h3>One of us ?</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni nisi autem assumenda?</p>
              <button type="submit" class="btn transparent" id="sign-in-btn">Sign in</button>
           </div>

           <img src="/img/register.svg" alt="" class="image">
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
</body>
</html> -->
<style>
    body{
        background: gray;
    }
  section.login{
    background: #F8F8F8;
    min-height: calc(100vh - 86px);
    /* min-height: 100vh; */
    
  }
</style>
<section class="login flex  justify-center pt-24">
  <div class="w-full max-w-xs">
      <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <% if(messages.error) { %>
          <span class="text-red-500 text-sm"><%= messages.error %></span>
          <% } %>
          <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  Email
              </label>
              <input name="email" value="<%= messages.email %>"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="username" type="email" placeholder="Enter your email">
          </div>
          <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Password
              </label>
              <input name="password"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                  id="password" type="password" placeholder="******************">
          </div>
          <div class="flex items-center justify-between">
              <button
                  class="bg-primary text-white  font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
                  type="submit">
                  Log In
              </button>
              <a class="inline-block align-baseline font-bold text-sm text-primary" href="/register">
                  Don't have account?
              </a>
          </div>
      </form>
     
  </div>
</section>
